<settings>
    <!-- this is reserved for later-->
    <auth>
        <group name="dba">
            <permission>packages</permission>
            <permission>repository</permission>
            <permission>usermanager</permission>
            <permission>backup</permission>
            <permission>settings</permission>
        </group>
        <group name="packagemanager">
            <permission>packages</permission>
            <permission>repository</permission>
        </group>
        <group name="usermanager">
            <permission>usermanager</permission>
        </group>
        <group name="backup">
            <permission>backup</permission>
        </group>
        <group name="settings">
            <permission>settings</permission>
        </group>
    </auth>
</settings>
