body{
    --existdb-font-family: 'Roboto', 'Noto', sans-serif;

    --existdb-text-color: var(--paper-grey-900);

    --existdb-header-bg-color: var(--paper-grey-300);
    --existdb-header-color: var(--paper-grey-900);

    --existdb-content-bg: var(--paper-grey-50);
    --existdb-content-color: var(--paper-grey-900);

    --existdb-drawer-bg: white;
    --existdb-drawer-color:var(--paper-grey-900);

    font-family: var(--existdb-font-family);

}