body{
    --existdb-font-family: 'Roboto', 'Noto', sans-serif;
    font-family: var(--existdb-font-family);

    --existdb-text-color: var(--paper-grey-900);

    --existdb-drawer-bg: white;
    --existdb-drawer-color:var(--paper-grey-900);
    --existdb-drawer-icon-color:var(--paper-green-500);

    --existdb-brand-bg:white;
    --existdb-brand-color:var(--paper-grey-900);

    --existdb-header-bg-color: var(--paper-green-500);
    --existdb-header-color: white;

    --existdb-content-bg: var(--paper-grey-50);
    --existdb-content-color: var(--paper-grey-900);

    --existdb-text-emphasize-color:var(--paper-green-900);

    --existdb-subheader-bg-color:var(--paper-green-300);
    --existdb-subheader-color:white;

    --existdb-control-bg:var(--paper-green-500);
    --existdb-control-color:white;


}