html {
  height: 100%;
  width: 100%;
  background: #f5f5f5;
}
body {
  padding: 0;
  margin: 0;
  width: 100%;
  position: relative;
  background: -moz-linear-gradient(top, #afafaf 0%, #f5f5f5 100%);
  /* FF3.6+ */

  background: -webkit-linear-gradient(top, #afafaf 0%, #f5f5f5 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #afafaf 0%, #f5f5f5 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #afafaf 0%, #f5f5f5 100%);
  /* IE10+ */

  background: linear-gradient(top, #afafaf 0%, #f5f5f5 100%);
  /* W3C */

  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#aeaeae', endColorstr='#f5f5f5', GradientType=0);
  /* IE6-9 */

  font-size: 100%;
  font-family: Geneva, Arial, Helvetica, sans-serif;
}
body .dijitDialog,
body .dijitDialog table {
  font-size: 92%;
}
body .dijitButton {
  font-size: 0.8em;
}
body .dojoxGrid {
  font-size: 0.85em !important;
  width: 100%;
}
body .dijitToolbar {
  height: 30px;
  padding: 5px 0 0 3px;
}
body #header {
  width: 100%;
  height: 40px;
}
body #header .dijitButtonNode {
  background: transparent;
  border: 0;
}
body #header #startButton {
  width: 32px;
  height: 32px;
  margin: 3px 0 0 10px;
  float: left;
}
body #header #user {
  margin: 9px 0 0 5px;
  float: left;
}
body .form-control {
  margin: .75em 0;
}
body .form-control label {
  width: 75px;
  float: left;
  text-align: right;
  margin-right: 1em;
}
body .details table {
  font-size: 1em;
}
body .details td,
body .details th {
  text-align: left;
  padding: 0 10px 0 0;
  margin: 0;
  vertical-align: top;
  font-weight: normal;
}
body .details .title th {
  vertical-align: middle;
}
body .details .title td {
  font-size: 150%;
}
body .details ul {
  list-style: none;
  margin: 0 0 10px 0;
  padding: 0;
}
body .details .actions button {
  margin-top: 15px;
}
body #content {
  min-height: 600px;
  /*background: rgb(125, 126, 125); */
  /* Old browsers */

  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
  min-width: 360px;
}
body #content #splash {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #eeeeee;
  z-index: 999;
}
body #content #status {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #777;
}
body #content #inlineAppArea {
  position: relative;
  overflow: visible;
  margin: 0;
  padding: 0;
  display: none;
  min-height: 400px;
  width: 100%;
  background: #eeeeee;
  border: 3px solid #6d6e70;
  -webkit-border-radius: 0px 20px 0px 0px;
  -moz-border-radius: 0px 20px 0px 0px;
  border-radius: 0px 20px 0px 0px;
}
body #content #inlineAppArea #inlineApp {
  height: 500px;
}
body #content #inlineAppArea #inlineApp .inline-app {
  opacity: 0;
  color: #3f3f40;
}
body #content #inlineAppArea #inlineApp h1,
body #content #inlineAppArea #inlineApp h2,
body #content #inlineAppArea #inlineApp h3 {
  color: #0083c9;
}
body #content #inlineAppArea #inlineClose {
  position: absolute;
  top: -16px;
  right: -16px;
  cursor: pointer;
  z-index: 100;
}
body #content #inlineAppArea #inlineAppTitle {
  background: #6D6E70;
  color: #efefef;
  padding: 3px 0 5px 3px;
  text-align: center;
}
body #content #appList {
  margin: 0 0 100px 0;
  padding: 0;
  display: inline-block;
}
body #content #appList li {
  list-style-type: none;
  float: left;
  position: relative;
  width: 150px;
  height: 150px;
  margin: 15px;
  font-size: 1em;
  border-radius: 5px;
  color: #353535;
}
body #content #appList li button {
  margin: 0;
  padding: 0;
  color: #777777;
  border: none;
  width: 150px;
  height: 150px;
  background: transparent;
}
body #content #appList li > button:focus {
  border: solid 3px #4682b4;
  border-radius: 5px;
}
body #content #appList li .actions {
  position: absolute;
  right: 0;
  top: 0;
  display: none;
  padding: 4px;
  background: #c0c0c0;
  opacity: 0.5;
}
body #content #appList li .actions button {
  width: inherit;
  height: inherit;
  background: transparent;
}
body #content #appList li a {
  width: 130px;
}
body #content #appList li h3 {
  width: 100%;
  font-size: 1.1em;
  font-weight: normal;
  color: #777777;
  display: block;
  margin-top: 6px;
}
body #content #appList li button:hover h3 {
  color: black;
}
body #content #appList li button img {
  margin: auto 0 auto 0;
  padding: 0 10px;
  max-width: 130px;
  max-height: 100px;
}
body #content #appList li .configure {
  position: absolute;
  top: 4px;
  right: 4px;
  background: transparent;
}
body #content #appList .appGroup {
  width: auto;
  height: auto !important;
  /*border: thin solid #888888;*/

  margin: 0;
  /*background: -moz-linear-gradient(top, #CCCCCC 0%,  rgb(238, 238, 238) 100%); */
  /* FF3.6+ */

  /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(125, 126, 125, 1)), color-stop(100%, rgba(14, 14, 14, 1))); */
  /* Chrome,Safari4+ */

  /*background: -webkit-linear-gradient(top, rgba(125, 126, 125, 1) 0%, rgba(14, 14, 14, 1) 100%); */
  /* Chrome10+,Safari5.1+ */

  /*background: -o-linear-gradient(top, rgba(125, 126, 125, 1) 0%, rgba(14, 14, 14, 1) 100%); */
  /* Opera 11.10+ */

  /*background: -ms-linear-gradient(top, rgba(125, 126, 125, 1) 0%, rgba(14, 14, 14, 1) 100%); */
  /* IE10+ */

  /*background: linear-gradient(top, rgba(125, 126, 125, 1) 0%, rgba(14, 14, 14, 1) 100%); */
  /* W3C */

  /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#7d7e7d', endColorstr = '#0e0e0e', GradientType = 0); */
  /* IE6-9 */

}
body #content #appList .appGroup ul {
  padding: 0;
}
body #content #appList .appGroup ul li {
  margin: 15px;
}
body #content #appList .appGroupIcon span {
  color: #4682b4;
  font-style: italic;
}
body #content #appList #exide {
  font-size: 5.0em;
  padding-top: 35px;
  text-align: center;
  width: 100%;
  position: relative;
}
body #content #appList #existIcon {
  background-color: #cfcfcf;
}
body #content #appList #existIcon #logo {
  background: url("../images/existdb.png") no-repeat center center;
  width: 330px;
  height: 150px;
  opacity: 0.8;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25), 0 0 50px rgba(0, 0, 0, 0.1) inset;
  /* background: #cccccc; */

}
body #content #appList #existIcon #existIconFront button {
  cursor: pointer;
}
body #content #appList #existIcon #existIconFront button img {
  margin: 0;
  opacity: 0.5;
}
body #content #appList #existIcon #existIconFront #repoConfigIcon {
  width: 40px;
  height: 34px;
  position: absolute;
  bottom: 8px;
  left: 5px;
  background: transparent;
}
body #content #appList #existIcon #existIconFront #repoConfigIcon img {
  width: 36px;
  height: 36px;
}
body #content #appList #existIcon #existIconFront #addUploadIcons {
  /*width: 40px;*/

  /*height: 32px;*/

  position: absolute;
  right: 5px;
  bottom: 8px;
  display: inline-block;
}
body #content #appList #existIcon #existIconFront #addUploadIcons button {
  cursor: pointer;
  opacity: 0.5;
  background: transparent;
  width: inherit;
  height: inherit;
}
body #content #appList #existIcon #existIconFront #addUploadIcons button img {
  width: 28px;
  height: 28px;
}
body #content #appList #existIconBack {
  display: none;
}
body #content #appList #existIconBack .configuration {
  padding: 10px 15px;
}
body #content #appList #existIconBack .configuration input {
  width: 100%;
}
body #content #appList .backside #logo {
  display: none;
}
body #content #appList .backside #existIconBack {
  display: block;
  width: 330px;
  height: 150px;
  color: #666666;
  font-size: .8em;
}
body #content #appList #existIcon.backside #existIconFront #addUploadIcons {
  display: none;
}
body #content #appList .twoColumn {
  width: 330px;
}
body #content #appList .twoColumn button {
  width: 330px;
}
body #inlineApp .shutdown {
  padding: 20px;
}
body #inlineApp .shutdown #shutdown-message {
  color: red;
  font-size: 125%;
}
