<?xml version="1.0" encoding="UTF-8"?>
<html>
    <head>
        <title class="config:app-title">eXist-db Dashboard</title>
        <meta class="config:app-meta"/>
        <link rel="shortcut icon" href="resources/images/favicon.ico"/>
        <link id="themeStyles" rel="stylesheet" href="../bfResources/scripts/dijit/themes/nihilo/nihilo.css"/>
        <link rel="stylesheet" href="../bfResources/scripts/dojox/grid/resources/nihiloGrid.css"/>
        <link rel="stylesheet" href="../bfResources/scripts/dojox/form/resources/UploaderFileList.css"/>
        <style type="text/css">
            @import "resources/css/fonts.css";
            @import "resources/css/global.css";
        </style>
        <script type="text/javascript" src="_shared/resources/scripts/jquery/jquery-1.7.1.min.js"/>
        <script type="text/javascript" src="resources/scripts/jquery.ui.widget.js"/>
        <script type="text/javascript" src="resources/scripts/jquery.fileupload.js"/>
        <script type="text/javascript">
            var dojoConfig = {
                async: true,
                parseOnLoad: true,
                packages: [
                    // set location for plugin modules
                    { name: "plugins", location: location.pathname.replace(/\/[^/]+$/, '') + "/plugins" }
                ]
            };
        </script>
        <script type="text/javascript" src="../bfResources/scripts/dojo/dojo.js"/>
        <script type="text/javascript" src="resources/scripts/dashboard-1.7.js"/>
    </head>
    <body class="nihilo">
        <div id="header">
            <!--img src="resources/images/configuration.png" alt="Start" id="startButton"/-->
            <div id="user" data-dojo-type="dijit.form.DropDownButton">
                <span id="username" class="dash:user">Not logged in</span>
                <div id="login-dialog" data-dojo-type="dijit.TooltipDialog">
                    <div id="login-dialog-form">
                        <form id="login-form" action="" data-dojo-type="dijit.form.Form">
                            <div class="form-control">
                                <label for="user">User:</label>
                                <input name="user" type="text" placeholder="User" data-dojo-type="dijit.form.ValidationTextBox"/>
                            </div>
                            <div class="form-control">
                                <label for="password">Password:</label>
                                <input name="password" type="password" placeholder="Password" data-dojo-type="dijit.form.ValidationTextBox"/>
                            </div>
                            <div class="form-control">
                                <input type="checkbox" name="duration" value="P14D"/> Remember me
                            </div>
                            <div class="form-control">
                                <button type="submit" data-dojo-type="dijit.form.Button">Login</button>
                            </div>
                            <div id="login-message"/>
                        </form>
                    </div>
                    <div id="login-dialog-logout" style="display: none;">
                        <a href="#" id="logout">Logout</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="content"/>
    </body>
</html>